/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;600;700&display=swap');

/* global css */
:root{
/* global fonts families */
--primary-fonts:'Roboto Mono', monospace;
--secondary-fonts: 'Raleway', sans-serif;
/* color */
--heading-font-color:#124265;
--descripton-font-color:#5e5e5e;
--color-white:#fff;
--light-blue:#00B4FF;
--black:#000;
--paragraph:#46A1DA;
}
body{
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Mono', monospace;
}
.active{
    color:var(--light-blue)!important;
}
.section-title{
    font-size:32px;
    font-weight: bold;
    margin-bottom:20px;
    text-transform: uppercase;
    padding-bottom: 0;
    color: var(--heading-font-color);
    font-family: var(--primary-fonts);
}
/* header area */
#header{
    background-color: #37517E;
}
.arsha{
    color:var(--color-white);
    font-weight: 900;
}
.get-started {
    color: var(--color-white);
    background-color: var(--light-blue)!important;
    border-radius: 50px;
    padding: 10px 30px;
}
li.nav-item a {
    font-size: 14px;
    color:var(--color-white)
}
.downloadlink{
    color:#124265;
}
.fixed-top{
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101/ 8%)
}
/* service */
.service-hover {
    filter:grayscale(100%) ;
    transition:all ease 0.3s ;
}
.service-hover:hover .h-100{
    filter:grayscale(1%);
    transform:scale(1.05)
    
}
/* why us */
.section-bg {
    background-color: #f3f8fa;
}
.content-bg{
    background: #fff;
}
.icon-bg {
    background: #f8f6f6;
    padding: 24px 24px;
    border-radius: 10px;
    transition: all ease .3s;
}
.icon:hover .icon-bg{
    background: #68A4C4;
}
/* features-area */
.col-7 ul li{
list-style:none;
}

/* search */
.bg-search{
    background: #082c46;
}
.bg-search h3{
    color:#68A4C4;
}
.bg-search p{
    color:#fff;
}
.search-rounded{
    border-radius: 30px;
}
/* footer */
.footer-section{
    background: #082C46;
}
.footer-h5{
    color:#fff;
}
ul li a {
    text-decoration: none;
    color:#fff;
}
ul li{
    list-style: none;
    padding:5px 0;
}
.paragraph-color{
    color:#fff;
   padding-top:20px;
}


.icon-color{
    background:#1e4356;
    border-radius: 50%;
    color:#fff;
    transition: all ease 0.3s;
}
.icon-color:hover{
    background: #8ec1db;
    
}